<ng-template #content let-modal>
    <div class="modal-body custom-modal-width">
       <section class="timeline">
        <div class="timeline-row">
            <div class="timeline-column">
                <h1 class="title">Education</h1>
                <div class="timeline-box">

                    <div class="timeline-content">
                        <div class="content">
                            <div class="year">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" style="margin-right: 4px" fill="currentColor"><path d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z"></path></svg>
                                <b>2018 - 2022</b></div>
                            <h3>Vellore Institute of Technology, Chennai</h3>
                            <p> <i>Bachelor's Degree in Computer Science</i></p>
                        </div>
                    </div>

                    <div class="timeline-content">
                        <div class="content">
                            <div class="year">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" style="margin-right: 4px" fill="currentColor"><path d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z"></path></svg>
                                <b>2022 - 2024</b></div>
                            <h3>Purdue University, Fort Wayne</h3>
                            <p> <i>Master's Degree in Computer Science </i></p>
                        </div>
                    </div>
                    <span class="animate" style="--i:2;"></span>
                </div>
            </div>

            <div class="timeline-column">
                <h2 class="title">Experience<span class="animate" style="--i:4;"></span>
                </h2>
                <div class="timeline-box">
                    <div class="timeline-content">
                        <div class="content">
                            <div class="year"> 
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" style="margin-right: 4px" fill="currentColor"><path d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z"></path></svg>
                                <b>Aug 2023 - Present</b>
                            </div>
                            <h3><img src="./assets/Images/YAS.JPG" width="60" height="50" style="margin-right: 3px;">Intern - Yet Another Solutions, Singapore</h3>
                            <p> • I’m working on creating a responsive and visually appealing UI for the React application.<tr>
                                • Integrated 5+ Go microservices, improving backend efficiency by 20%.<tr>
                                • Optimized MySQL database handling 10K+ records, enhancing query speed by 15%.<tr>
                                • Developed 10 Go APIs, reducing data exchange latency by 30%.<tr>
                                • Actively contribute to team discussions, optimizing synergy between React, Go services, and MySQL Workbench. </p>
                        </div>
                    </div>

                    <div class="timeline-content">
                        <div class="content">
                            <div class="year">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" style="margin-right: 4px" fill="currentColor"><path d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z"></path></svg>
                                <b>Jan 2023 - Present</b>
                            </div>
                            <h3><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="23" height="23" fill="currentColor"><path d="M12 2 0 9 12 16 22 10.1667V17.5H24V9L12 2ZM3.99902 13.4905V18.0001C5.82344 20.429 8.72812 22.0001 11.9998 22.0001 15.2714 22.0001 18.1761 20.429 20.0005 18.0001L20.0001 13.4913 12.0003 18.1579 3.99902 13.4905Z"></path></svg>
                                Teaching Assistant-Purdue University, Fort Wayne, IN</h3>
                            <p> • Supported over 150 students in ACS57500, CS57600, and CS36500 courses, focusing on database systems and machine learning.<tr>
                                • Aided CS57600 students with complex algorithms, contributing to a 20% improvement in assignment grades.<tr>
                                • Provided guidance in CS36500, leading to a 15% increase in exam scores.<tr>
                                • Mentored 30 students in CS33100 Intro to C++, fostering a collective 25% improvement in programming proficiency.</p>
                        </div>
                    </div>

                    <div class="timeline-content">
                        <div class="content">
                            <div class="year">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" style="margin-right: 4px" fill="currentColor"><path d="M2 11H22V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V11ZM17 3H21C21.5523 3 22 3.44772 22 4V9H2V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3Z"></path></svg>
                                <b>June 2023 - Aug 2023</b>
                            </div>
                            <h3><img src="./assets/Images/dover.SVG" width="50" height="50" style="margin-right: 3px;" >SDE Intern-Dover Fueling Solutions, IL, Chicago</h3>
                            <p> • Contributed to Gas Station Simulator UI development as a Software Intern.<tr>
                                • Implemented an advanced state machine in C# for efficient process modeling.<tr>
                                • Established communication links using named pipelines for equipment interaction replication.<tr>
                                • Collaborated actively within a passionate team to integrate features seamlessly.<tr>
                                • Gained hands-on experience in C# and SQL Workbench technologies.<tr>
                                • Played a key role in creating an engaging and user-friendly UI for the simulator. </p>
                        </div>
                    </div>
                    <span class="animate" style="--i:5;"></span>

                </div>
            </div>
        </div>
       </section>
    </div>
</ng-template>

<button class="custom-btn" (click)="open(content)">
<span class="btn-text">E X P E R I E N C E</span>
</button>