<div class="contact-page-container">

<div id="reach-content" class="contact-section">
  <h2>Contact</h2>
  <h1>REACH OUT ME</h1>
  <div class="contact-methods">
    <div class="contact-method">
      <span class="icon">📩</span> <!-- Replace with actual icons -->
      <h3>Chat to me</h3>
      <p>Our friendly team is there to help. <a href="mailto:&#64;gmail.com">nikhileshlingamgunta2000&#64;gmail.com</a></p>
    </div>
    <div class="contact-method">
      <span class="icon">🏢</span> <!-- Replace with actual icons -->
      <h3>Visit Me</h3>
      <p>Come say hello at my home 2641 Northgate, Boulevard, Fort Wayne City, Indiana 46835</p>
    </div>
    <div class="contact-method">
      <span class="icon">📞</span> <!-- Replace with actual icons -->
      <h3>Call Me</h3>
      <p>Mon-Fri from 8am to 5pm. +01 (260) 267-0575</p>
    </div>
  </div>
  <div class="map-container">
    <!-- Embed your map here -->
  </div>
</div>


<div class="contact-form-container">
    <h2>Got Ideas? We've got the skills. Let's team up.</h2>
    <p>Tell us more about yourself and what you're got in mind.</p>
    
    <form (submit)="send()" id="contact-form">
      <div class="form-row">
        <div class="input-group">
          <label for="name">Full Name</label>
          <input [(ngModel)]="name" type="text" id="name" name="name" placeholder="Name *" required>
        </div>
        
        <div class="input-group">
          <label for="email">Your Email</label>
          <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="Email *" required>
        </div>
      </div>
      
      <div class="input-group">
        <label for="subject">Subject</label>
        <input [(ngModel)]="subject" type="text" id="subject" name="subject" placeholder="Subject *" required>
      </div>
      
      <div class="input-group">
        <label for="message">Your Message</label>
        <textarea [(ngModel)]="message" id="message" name="message" placeholder="Your message *" required></textarea>
      </div>
      
      <button (click)="send()" type="submit" class="send-message-btn">Send Message</button>
    </form>
</div>

</div>